TARGETED_DEVICE_FAMILY = 1,2
SWIFT_VERSION = 5.0
IPHONEOS_DEPLOYMENT_TARGET = 14
SDKROOT = iphoneos
CODE_SIGN_IDENTITY = iPhone Developer
APPLICATION_EXTENSION_API_ONLY = NO
ENABLE_BITCODE = NO
ENABLE_TESTABILITY = YES
SUPPORTS_MACCATALYST = NO
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
DEVELOPMENT_TEAM = 8JJ68E7J5Z
